.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sub-container{
    background-color: #25510217;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}

.user-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.input-image{
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    width: 0.1px;
}

.button{
    background-color: #1a1c18;
    border: none;
    color: #a8f770;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: 1s;
    text-wrap: nowrap;
}

.button:hover{
    background-color: #a8f770;
    color: #0b2000;
}

.button-delete{
    background-color: #1a1c18;
    border: none;
    color: #ff0000;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: 1s;
    text-wrap: nowrap;
}
.button-delete:hover{
    background-color: #ff0000;
    color: #1a1c18;
}

.form-item{
    display: flex;
    flex-direction: column;
    color: #8eda57;
    font-size: 20px;
    align-items: center;
    gap: 10px;
}

.form-input{
    width: 30vw;
    min-width: 250px;
    font-size: 20px;
    background: #bcf293;
    color: #003737;
    border-radius: 5px;
    height: 40px;
    transition: 1s;
    border: solid 3px rgba(0,0,0,0);
    text-align: center;
}

.form-input:focus{
    outline: none;
    border: solid 3px #9800ff;
}

.password-item{
    display: flex;
    align-items: center;
    gap: 10px;
}

.bi-eye{
    cursor: pointer;
}

.error{
    color: #690005;
    background: #ffb4ab;
    border-radius: 3px;
}

@media screen and (max-width: 600px) {



}
