.main{
    background-color: #77AFAF;
}

.wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 883px;
}

.sub-header{
    height: 200px;
    background: linear-gradient(#004445 0%,#01696C 66%, #01696C 100%);
}

.form{
    position: absolute;
    top: 140px;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    width: 1140px;
}

.image-label{
    position: relative;
}

.user-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
}

.input-image{
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    width: 0.1px;
}

.image-animated{
    box-shadow: 0px 0px 30px 5px rgba(247, 233, 222, 1);
    position: absolute;
    width: 200px;
    height: 200px;
    transition: 0.7s;
    border-radius: 100px;
    background-color: rgba(0, 68, 69, 0.8);
    opacity: 0;
    top:0;
    cursor: pointer;
}

.image-animated:hover{
    opacity: 1;
}

.image-button{
    display: flex;
    cursor: pointer;
    transition: 0.7s;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    position: relative;
}

.image-button:hover{
    color: #004445;
}

.form-item{
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    font-size: 25px;
    align-items: center;
    gap: 10px;
}

.form-input{
    width: 550px;
    height: 60px;
    font-size: 20px;
    color: #A7A9AC;
    border-radius: 40px;
    transition: 0.7s;
    border: none;
    text-align: center;
}

.form-input:focus{
    outline: none;
    box-shadow: 0px 0px 30px 5px rgba(247, 233, 222, 1);
}

.bi-eye{
    cursor: pointer;
    fill: #FFFFFF;
    transition: 0.7s;
}

.button{
    background-color: #01696C;
    border: none;
    color: #FFFFFF;
    font-size: 25px;
    padding: 10px 25px;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    transition: 0.7s;
    width: auto;
    height: 50px;
}

.button:hover{
    background-color: #004445;
    color: #01696C;
    box-shadow: 0px 0px 30px 5px rgba(247, 233, 222, 1);
}

.password-item{
    display: flex;
    align-items: center;
    gap: 10px;
}

.bi-eye{
    cursor: pointer;
}

.error{
    background: transparent;
    color: #FFFFFF;
}

.messages{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
}

@media screen and (max-width: 600px) {



}
