.main{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#01696C 0%,#01696C 66%, #004445 100%);
}

.wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 100px;
    margin-top: 80px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    background-color: #77AFAF;
    color: #FFFFFF;
    padding: 30px;
    border-radius: 70px;
    width: 550px;
    z-index: 1;
}

.form-item{
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    font-size: 25px;
    align-items: center;
    gap: 10px;
}

.form-input{
    width: 550px;
    height: 60px;
    font-size: 20px;
    color: #A7A9AC;
    border-radius: 40px;
    transition: 0.7s;
    border: none;
    text-align: center;
}

.form-input:focus{
    outline: none;
    box-shadow: 0px 0px 30px 5px rgba(247, 233, 222, 1);
}

.bi-eye{
    cursor: pointer;
    fill: #FFFFFF;
    transition: 0.7s;
}

.form-input-image{
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
}

.password-item{
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.image-label{
    position: relative;
}

.img-prev{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100px;
}

.image-animated{
    box-shadow: 0px 0px 30px 5px rgba(247, 233, 222, 1);
    position: absolute;
    width: 150px;
    height: 150px;
    transition: 0.7s;
    border-radius: 100px;
    background-color: rgba(0, 68, 69, 0.8);
    opacity: 0;
    top:0;
    cursor: pointer;
}

.button{
    background-color: #01696C;
    border: none;
    color: #FFFFFF;
    font-size: 25px;
    padding: 6px 30px 10px 30px;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    transition: 0.7s;
    font-family: "Malgun Gothic", serif;
    font-weight: normal;
}

.image-button{
    display: flex;
    cursor: pointer;
    transition: 0.7s;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    position: relative;
    width: 150px;
    text-wrap: nowrap;
}

.bottom-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.error{
    background: transparent;
    color: #FFFFFF;
}

.messages{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
}

.register-plants-left{
    bottom: 0;
    position: absolute;
    height: 730px;
    left: -310px;
}

.register-plants-right{
    bottom: 0;
    position: absolute;
    left: 450px;
    height: 730px;
}
@media (hover: hover){
    .button:hover{
        background-color: #004445;
        color: #01696C;
        box-shadow: 0px 0px 30px 5px rgba(247, 233, 222, 1);
    }
    .image-button:hover{
        color: #004445;
    }
    .image-animated:hover{
        opacity: 1;
    }
}
@media (hover: none){
    .button:active{
        transition: 0s;
        background-color: #004445;
        color: #01696C;
        box-shadow: 0px 0px 30px 5px rgba(247, 233, 222, 1);
    }
    .image-button:active{
        color: #004445;
        transition: 0s;
    }
    .image-animated:active{
        opacity: 1;
        transition: 0s;
    }
}

@media screen and (max-width: 1405px){
    .register-plants-left{
        width: 400px;
        height: 550px;
        left: -240px;
    }

    .register-plants-right{
        width: 400px;
        left: 490px;
        height: 550px;
    }
}

@media screen and (max-width: 1200px){
    .register-plants-left{
        display: none;
    }

    .register-plants-right{
        display: none;
    }
    .main{
        min-height: 600px;
    }
}
@media screen and (max-width: 768px) {
    .main {
        min-height: 500px;
    }
    .wrapper{
        margin: 10px 0 40px 0;
    }

    .form {
        padding: 15px;
        width: 305px;
        border-radius: 40px;
        gap: 15px;
    }

    .form-input {
        width: 295px;
        height: 30px;
        font-size: 16px;
    }

    .form-item {
        font-size: 15px;
        gap: 10px;
    }

    .bi-eye {
        height: 20px;
    }

    .remember-wrapper {
        width: 295px;
        height: 25px;
        font-size: 15px;
    }

    .checkbox-wrapper {
        width: 115px;
    }

    .check-box {
        margin-top: 5px;
        margin-left: 5px;
    }

    .social-login-icon {
        width: 25px;
        height: 25px;
    }

    .button {
        font-size: 15px;
        padding: 2px 20px 5px 20px;
    }

    .img-prev{
        width: 80px;
        height: 80px;
    }
    .image-animated{
        width: 80px;
        height: 80px;
    }
    .image-button{
        width: 80px;
    }

    .messages {
        font-size: 15px;
        width: 335px;
        text-align: center;
    }

    .error {
        font-size: 15px;
        width: 335px;
        text-align: center;
    }
}
