.main{
    align-items: center;
}

.wrapper{
    display: flex;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background-color: #1e4e4d;
    color: #003737;
    padding: 20px;
    border: solid #003737;
    border-radius: 10px;
}

.form-item{
    display: flex;
    flex-direction: column;
    color: #8eda57;
    font-size: 20px;
    align-items: center;
    gap: 10px;
}

.form-input{
    width: 30vw;
    min-width: 300px;
    font-size: 20px;
    background: #003737;
    color: #a0cfce;
    border-radius: 5px;
    height: 40px;
    transition: 1s;
    border: solid 3px rgba(0,0,0,0);
    text-align: center;
}

.form-input:focus{
    outline: none;
    border: solid 3px #8eda57;
}

.bi-eye{
    cursor: pointer;
}

.form-input-image{
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
}

.password-item{
    display: flex;
    align-items: center;
    gap: 10px;
}

.img-prev{
    width: 150px;
    height: 150px;
    border-radius: 2rem;
    object-fit: cover;
}

.button{
    background-color: #1a1c18;
    border: none;
    color: #a8f770;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: 1s;
}

.button:hover{
    background-color: #a8f770;
    color: #0b2000;
}

.bottom-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.error{
    color: #690005;
    background: #ffb4ab;
    border-radius: 3px;
}

.status{
    color: #a8f770;
}
