.main{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#004445 0%,#01696C 66%, #01696C 100%);
}

.wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 100px;
    margin-top: 80px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    background-color: #77AFAF;
    color: #FFFFFF;
    padding: 30px;
    border-radius: 70px;
    width: 550px;
    z-index: 1;
}

.form-item{
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    font-size: 25px;
    align-items: center;
    gap: 10px;
}

.form-input{
    width: 550px;
    height: 60px;
    font-size: 20px;
    color: #A7A9AC;
    border-radius: 40px;
    transition: 0.7s;
    border: none;
    text-align: center;
}
.form-input:focus{
    outline: none;
    box-shadow: 0px 0px 30px 5px rgba(247, 233, 222, 1);
}

.bi-eye{
    cursor: pointer;
    fill: #FFFFFF;
    transition: 0.7s;
}

.password-item{
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.button{
    background-color: #01696C;
    border: none;
    color: #FFFFFF;
    font-size: 25px;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    transition: 0.7s;
    width: 180px;
    height: 50px;
}

.button:hover{
    background-color: #004445;
    color: #01696C;
    box-shadow: 0px 0px 30px 5px rgba(247, 233, 222, 1);
}

.error{
    background: transparent;
    color: #FFFFFF;
}

.messages{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
}

.reset-password-plants{
    bottom: 0;
    position: absolute;
    left: -200px;
}
