.footer{
    width: 100%;
    background-color: #1e4e4d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-wrapper{
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
}
@media screen and (min-width: 1600px) {

    .footer-wrapper{
        width: 1336px;
    }

}
