.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Malgun Gothic", serif;
    font-style: normal;
}

.footer-wrapper{
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: space-between;
    width: 1140px;
}

.footer-title{
    font-family: 'AmbidexterWebRegular','serif';
    font-weight: normal;
    font-style: normal;
    text-align: center;
    font-size: 53px;
    color: #77AFAF;
    line-height: 0.9;
}

.footer-text{
    color: #A7A9AC;
    font-size: 20px;
}

.footer-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.footer-center{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
}

.footer-search{
    border: none;
    font-size: 20px;
    color: #A7A9AC;
    width: 160px;
    border-bottom: solid 1pt #77AFAF;
    font-family: "Malgun Gothic", serif;
    font-style: normal;
}
.footer-search:focus{
    outline: none;
}

.footer-search::placeholder{
    color: #A7A9AC;
}

.footer-social{
    margin-top: 4px;
}

.footer-social-img{
    fill:#77afaf;
    transition: 0.7s;
}

.footer-social-img:hover{
    fill: #004445;
}

.footer-mobile{
    display: none;
}

@media screen and (max-width: 1200px) {
    .footer-title{
        font-size: 40px;
    }
    .footer-text{
        font-size: 15px;
    }
    .footer-search{
        font-size: 15px;
    }
    .footer-img{
        width: 78px;
    }
    .footer-wrapper{
        height: 100px;
        padding: 20px 20px;
    }
    .footer-center{
        gap: 0;
    }
}

@media screen and (max-width: 768px) {
    .footer-wrapper{
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        height: 200px;
    }
    .footer-desktop{
        display: none;
    }
    .footer-mobile{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}
