.section-1{
    background: linear-gradient(#004445 0%,#01696C 66%, #01696C 100%);
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
}

.wrapper{
    width: 1140px;
    display: flex;
    justify-content: center;
    position: relative;
}

.search{
    position: absolute;
    top: 440px;
    left: 297px;
    width: 510px;
    border-radius: 200px;
    padding: 20px 30px;
    border: none;
    color: #A7A9AC;
    font-size: 20px;
}

.icon-search{
    cursor: pointer;
    z-index: 2;
}
.search:focus{
    outline: none;
}
.search::placeholder{
    color: #A7A9AC;
}

.search-label{
    position: absolute;
    top: 457px;
    right: 300px;
}

.section-2{
    display: flex;
    justify-content: center;
}

.my-plants-wrapper{
    display: flex;
    flex-direction: column;
    padding: 80px 50px;
    gap: 40px;
}

.second-section-text{
    font-size: 30px;
    text-align: center;
    font-weight: 400;
}

.section-3{
    display: flex;
    justify-content: center;
    background-color: #77AFAF;
    padding-bottom: 50px;
    padding-top: 50px;
}

.wrapper-image{
    display: flex;
    justify-content: space-between;
    width: 1140px;
}

.img-1{
    position: relative;
}
.img-2{
    position: relative;
}
.img-3{
    position: relative;
}
.img-4{
    position: relative;
}

.img-text{
    font-weight: 700;
    font-size: 30px;
    color: #F7E9DE;
    text-align: center;
}
.animate-wrapper{
    cursor: default;
    position: absolute;
    top: 0;
    border-radius: 40px;
    background-color: rgba(0, 68, 69, 0.8);
    height: 205px;
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 30px 15px rgba(247, 233, 222, 1);
    opacity: 0;
    transition: 0.7s;
}
.animate-wrapper:hover{
    opacity: 1;
}
