.section-1{
    background: linear-gradient(#01696C 0%,#01696C 66%, #004445 100%);
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
}

.wrapper{
    width: 1140px;
    display: flex;
    justify-content: center;
    position: relative;
}

.search-grass{
    position: absolute;
    top: 389px;
    right: calc((100% - 588px) / 2);
    width: 550px;
}

.search{
    position: absolute;
    top: 440px;
    left: 297px;
    width: 510px;
    border-radius: 200px;
    padding: 20px 30px;
    border: none;
    color: #A7A9AC;
    font-size: 20px;
}

.icon-search{
    cursor: pointer;
    z-index: 2;
}

.search:focus{
    outline: none;
}
.search::placeholder{
    color: #A7A9AC;
}

.search-label{
    position: absolute;
    top: 457px;
    right: 300px;
}

.section-2{
    display: flex;
    justify-content: center;
}

.my-plants-wrapper{
    display: flex;
    flex-direction: column;
    padding: 50px 0 80px 0;
    gap: 30px;
}

.my-plants-text-top{
    font-family: 'AmbidexterWebRegular','serif';
    font-weight: normal;
    font-style: normal;
    text-align: center;
    font-size: 150px;
    line-height: 0.7;
}
.my-plants-text-bot{
    font-family: 'AmbidexterWebRegular','serif';
    font-weight: normal;
    font-style: normal;
    text-align: center;
    font-size: 95px;
    line-height: 0.7;
}

.second-section-text{
    font-size: 30px;
    text-align: center;
    font-weight: 400;
}

.section-3{
    display: flex;
    justify-content: center;
    background-color: #77AFAF;
    padding-bottom: 50px;
    padding-top: 50px;
}

.wrapper-image{
    display: flex;
    justify-content: space-between;
    width: 1140px;
}

.img-1{
    position: relative;
}
.img-2{
    position: relative;
}
.img-3{
    position: relative;
}
.img-4{
    position: relative;
}

.img-text{
    font-weight: 700;
    font-size: 30px;
    color: #F7E9DE;
    text-align: center;
}
.animate-wrapper{
    position: absolute;
    top: 0;
    border-radius: 40px;
    background-color: rgba(0, 68, 69, 0.8);
    height: 205px;
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 30px 15px rgba(247, 233, 222, 1);
    opacity: 0;
    transition: 0.7s;
}
.animate-wrapper:hover{
    opacity: 1;
}

.mobile{
    display: none;
}

@media screen and (max-width: 1200px){
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    .section-1{
        height: 400px;
    }
    .search-bg{
        position: absolute;
        height: 400px;
        object-fit: cover;
    }
    .search{
        top: 320px;
        left: calc((100% - 335px) / 2);
        width: 295px;
        font-size: 16px;
        padding: 11px 20px;
    }
    .search-label {
        top: 327px;
        right: calc((100% - 310px) / 2);
    }
    .icon-search{
        width: 25px;
        height: 25px;
    }
    .search-grass{
        top: 291px;
        right: calc((100% - 326px) / 2);
        width: 320px;
    }
    .my-plants-wrapper{
        gap: 20px;
        padding: 30px 0 50px 0;
    }
    .my-plants-text-top{
        font-size: 100px;
    }
    .my-plants-text-bot{
        font-size: 70px;
    }
    .second-section-text{
        font-size: 22px;
    }
    .swiper-wrapper{
        max-width: 526px;
    }
    .animate-wrapper{
        opacity: 1;
        box-shadow: none;
    }
}
@media screen and (max-width: 768px){
    .search-bg{
        position: absolute;
        height: 400px;
        width: calc(100% + 240px);
        object-fit: cover;
        margin-left: -240px;
    }
    .my-plants-text-top{
        font-size: 85px;
    }
    .my-plants-text-bot{
        font-size: 50px;
    }
    .second-section-text{
        font-size: 15px;
    }
    .swiper-wrapper{
        max-width: 266px;
    }
    .animate-wrapper{
        width: 130px;
        height: 102px;
        border-radius: 20px;
        transition: 0s;
    }
    .img{
        width: 130px;
    }
    .img-text{
        font-size: 15px;
    }

    .section-3{
        padding: 20px 0;
    }
}
