.footer{
    box-shadow: 0px -15px 30px 0px rgba(247, 233, 222, 1);
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 1050px;
    align-items: center;
    padding-bottom: 70px;
}

.sub-header{
    height: 200px;
    background: linear-gradient(#01696C 0%,#01696C 66%, #004445 100%);
    position: relative;
    width: 100%;
}

.left-subheader-image{
    position: absolute;
    top: 0;
    left: 0;
}
.right-subheader-image{
    position: absolute;
    top: 0;
    right: 0;
}

.search-wrapper{
    width: 1140px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

.search{
    width: 260px;
    border: none;
    font-size: 25px;
    color: #A7A9AC;
    border-bottom: solid 1pt #77AFAF;
    font-family: "Malgun Gothic", serif;
    font-style: normal;
    border-radius: 0;
}

.search:focus{
    outline: none;
}

.search::placeholder{
    color: #A7A9AC;
}

.searchResult-wrapper{
    display: flex;
    width: 1140px;
    gap: 35px;
    position: relative;
    padding: 50px 0;
    flex-wrap: wrap;
    align-content: flex-start;
}

.stats-wrapper{
    width: 1140px;
    padding: 50px 0 30px 0;
}

.stat-title{
    font-family: 'AmbidexterWebRegular', 'serif';
    font-weight: normal;
    font-style: normal;
    font-size: 45px;
    padding-bottom: 30px;
    line-height: 0.8;
}

.stat-text{
    font-weight: bold;
    font-size: 25px;
}

.stat-text-data{
    font-weight: normal;
}

.plants-wrapper{
    display: flex;
    width: 1140px;
    column-gap: 33px;
    row-gap: 45px;
    position: relative;
    padding: 50px 0;
    flex-wrap: wrap;
}

.plant-card{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 260px;
    height: 281px;
    flex-direction: column;
    cursor: pointer;
    font-size: 25px;
    text-align: center;
    transition: 0.7s;

}

.cart-image{
    width: 260px;
    height: 205px;
    object-fit: cover;
    border-radius: 40px;
}

.button{
    background-color: #01696C;
    border: none;
    color: #FFFFFF;
    font-size: 25px;
    padding: 6px 30px 10px 30px;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    transition: 0.7s;
    font-family: "Malgun Gothic", serif;
    font-weight: normal;
    text-wrap: nowrap;
}

.modal{
    position: fixed;
    top: calc((100vh - 585px) / 2);
    left: calc((100% - 870px) / 2);
    max-width: 870px;
    max-height: 585px;
    z-index: 9998;
}

.modal-bg{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(28,55,64,0.75);
}

.modal-content-wrapper{
    position: absolute;
    z-index: 9998;
    color: #FFFFFF;
    display: flex;
    gap: 26px;
    flex-direction: column;
    border-radius: 45px;
    background-color: #77AFAF;
    height: 585px;
    width: 870px;
}

.modal-close{
    position: absolute;
    right: 20px;
    top: 20px;
    fill: #fff;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.7s;
    border-radius: 7px;
}

.modal-body{
    display: flex;
    flex-direction: column;
}
.modal-image{
    object-fit: cover;
    border-radius: 45px 45px 0 0;
    width: 870px;
    height: 480px;
}

.modal-title{
    font-family: 'AmbidexterWebRegular', 'serif';
    font-weight: normal;
    font-style: normal;
    text-align: center;
    font-size: 45px;
    margin-top: -10px;
}

.modal-footer{
    height: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mobile{
    display: none;
}
@media (hover: hover){
    .button:hover{
        background-color: #004445;
        color: #01696C;
        box-shadow: 0px 0px 30px 5px rgba(247, 233, 222, 1);
    }
    .plant-card:hover{
        color: #004445;
    }
    .modal-close:hover{
        fill: rgba(247, 233, 222, 0.2);
        filter: drop-shadow(0px 0px 10px rgba(255, 255, 222, 1));
        box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.33);
    }
}
@media (hover: none){
    .button:active{
        transition: 0s;
        background-color: #004445;
        color: #01696C;
        box-shadow: 0px 0px 30px 5px rgba(247, 233, 222, 1);
    }
    .plant-card:active{
        transition: 0s;
        color: #004445;
    }
    .modal-close:active{
        transition: 0s;
        fill: rgba(247, 233, 222, 0.2);
        filter: drop-shadow(0px 0px 10px rgba(255, 255, 222, 1));
        box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.33);
    }
}
@media screen and (max-width: 1200px) {
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
    .main{
        min-height: 600px;
    }
    .wrapper{
        min-height: 600px;
    }
    .sub-header{
        height:125px;
    }
    .left-subheader-image{
        height: 135px;
    }
    .right-subheader-image{
        height: 154px;
    }
    .search-wrapper {
        width: 846px;
        padding-top: 50px;
    }
    .plants-wrapper{
        width: 846px;;
        padding-top: 40px;
    }
    .stats-wrapper{
        width: 846px;
        padding: 35px 0 30px 0;
    }
}
@media screen and (max-width: 922px) {
    .wrapper{
        padding-bottom: 40px;
    }
    .search-wrapper {
        width: 680px;
        padding-top: 35px;
    }
    .stats-wrapper{
        width: 680px;
    }
    .search{
        font-size: 16px;
        width: 170px;
    }
    .button {
        font-size: 15px;
        padding: 2px 20px 5px 20px;
    }
    .plants-wrapper{
        padding-top: 0;
        padding-bottom: 20px;
        row-gap: 20px;
        column-gap: 10px;
        width: 680px;
    }
    .stat-title{
        padding-bottom: 15px;
        font-size: 25px;
    }
    .stat-text{
        font-size: 15px;
    }
    .cart-image{
        width: 105px;
        height: 85px;
        border-radius: 15px;
    }
    .plant-card{
        width: 105px;
        height: 115px;
        gap: 0;
        font-size: 11px;
    }
    .modal{
        top: calc((100% - 235px) / 2);
        left: calc((100% - 335px) / 2);
    }
    .modal-content-wrapper{
        width: 335px;
        height: 235px;
        border-radius: 24px;
    }
    .modal-image{
        width: 335px;
        height: 200px;
        border-radius: 24px 24px 0 0;
    }
    .modal-footer{
        height: 35px;
    }
    .modal-title{
        font-size: 16px;
        margin: 0;
    }

}
@media screen and (max-width: 768px){
    .search-wrapper {
        width: 335px;
    }
    .plants-wrapper{
        width: 335px;
    }
    .stats-wrapper{
        width: 335px;
    }
}
