* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.main{
    min-height: 80vh;
    color: #77AFAF;
    font-family: "Malgun Gothic", serif;
    font-style: normal;
}

.main-container{
    width: 1140px;
}

@font-face {
    font-family: 'AmbidexterWebRegular';
    src:
        url('../fonts/ambidexter_regular.woff2') format('woff2'),
        url('../fonts/Ambidexter_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Malgun Gothic';
    src: url("../fonts/MalgunGothic.ttf") format('truetype');
}
