* {
    margin: 0;
    padding: 0;
}

.main{
    background-color: #1a1c18;
    min-height: 78vh;
    color: #c5c8bc;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.main-container{
    width: 80vw;
}
@media screen and (min-width: 1600px) {

    .main-container{
        width: 1336px;
    }

}
