.main{
    display: flex;
    justify-content: center;
}

.wrapper{
    display: flex;
    width: 1140px;
    gap: 35px;
    position: relative;
    padding: 50px 0;
    flex-wrap: wrap;
    align-content: flex-start;
}

.plant-card{
    display: flex;
    align-items: center;
    width: 200px;
    height: 250px;
    flex-direction: column;
    cursor: pointer;
}

.cart-image{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.modal{
    position: absolute;
    top: 25%;
    width: 1140px;
    height: 50vh;
    z-index: 9998;
    background-color: #004445;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.modal-header{
    display: flex;
    justify-content:space-between;
}

.modal-close{
    width: 20px;
}

.modal-body{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-image{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.modal-buttons{
    display: flex;
    gap: 50px;
    justify-content: space-around;
}

.modal-button{
    color: black;
}
