.footer{
    box-shadow: 0px -15px 30px 0px rgba(247, 233, 222, 1);
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 1050px;
    align-items: center;
}

.sub-header{
    height: 200px;
    background: linear-gradient(#01696C 0%,#01696C 66%, #004445 100%);
    position: relative;
    width: 100%;
}

.left-subheader-image{
    position: absolute;
    top: 0;
    left: 0;
}
.right-subheader-image{
    position: absolute;
    top: 0;
    right: 0;
}

.search-wrapper{
    width: 1140px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

.search{
    width: 260px;
    border: none;
    font-size: 25px;
    color: #A7A9AC;
    border-bottom: solid 1pt #77AFAF;
    font-family: "Malgun Gothic", serif;
    font-style: normal;
    border-radius: 0
}

.search:focus{
    outline: none;
}

.search::placeholder{
    color: #A7A9AC;
}

.button{
    background-color: #01696C;
    border: none;
    color: #FFFFFF;
    font-size: 25px;
    padding: 6px 30px 10px 30px;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    transition: 0.7s;
    font-family: "Malgun Gothic", serif;
    font-weight: normal;
    text-wrap: nowrap;
}

.plants-wrapper{
    display: flex;
    width: 1140px;
    column-gap: 33px;
    row-gap: 45px;
    position: relative;
    padding: 50px 0;
    flex-wrap: wrap;
    justify-content: center;
}

.plant-card{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 260px;
    height: 281px;
    flex-direction: column;
    cursor: pointer;
    font-size: 25px;
    text-align: center;
    transition: 0.7s;

}

.cart-image{
    width: 260px;
    height: 205px;
    object-fit: cover;
    border-radius: 40px;
}

.modal{
    position: fixed;
    top: calc((100% - 480px) / 2);
    left: calc((100% - 870px) / 2);
    max-width: 870px;
    max-height: 480px;
    z-index: 9998;
}

.modal-bg{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(28,55,64,0.75);
}

.modal-content-wrapper{
    position: absolute;
    z-index: 9998;
    color: #FFFFFF;
    display: flex;
    gap: 26px;
    flex-direction: column;
    border-radius: 45px;
    padding: 35px 30px 45px;
    background-color: #77AFAF;
    height: 400px;
    width: 810px;
}

.modal-header{
    display: flex;
}

.modal-title{
    font-family: 'AmbidexterWebRegular', 'serif';
    font-weight: normal;
    font-style: normal;
    text-align: center;
    font-size: 45px;
    width: 780px;
    line-height: 0.5;
}

.modal-close{
    fill: #fff;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.7s;
}

.modal-body{
    display: flex;
    gap: 10px;
}

.modal-image{
    width: 404px;
    height: 268px;
    object-fit: cover;
    transition: 0.7s ;
}

.modal-text-wrapper{
    font-size: 20px;
    display: flex;
    flex-direction: column;
}


.modal-notes{
    padding: 12px;
    width: 367px;
    height: 72px;
    border-radius: 20px;
    background: #FFFFFF;
    color: #A7A9AC;
    font-size: 15px;
    margin-top: 10px;
}

.modal-buttons{
    display: flex;
    justify-content: space-evenly;
    text-wrap: nowrap;
}


.modal-button{
    background-color: #01696C;
    border: none;
    color: #FFFFFF;
    font-family: "Malgun Gothic", serif;
    font-size: 25px;
    padding: 7px 25px 10px 25px;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    transition: 0.7s;
    width: auto;
}

.ya-share2__container_size_m .ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__link_more {
    font-size: 25px;
    padding: 10px 25px;
    height: 30px;
    display: flex;
}
.ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__link_more {
    border: none;
    background-color: #01696C;
    border-radius: 25px;
    transition: 0.7s;
}

.ya-share2__title {
    color: #FFFFFF;
    font-family: "Malgun Gothic", serif;
    transition: 0.7s;
}

.ya-share2__container_size_m .ya-share2__title {
    line-height: 25px;
}

.ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__icon_more {
    background-image: none;
    display: none;
}

.ya-share2__container_size_m .ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__popup_direction_bottom {
    top: 0;
}

.ya-share2__container_size_m .ya-share2__popup:not(.ya-share2__popup_mobile) {
    border-radius: 25px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.18), 0 0 4px rgba(0,0,0,0.1);
    background-color: #004445;
}

.ya-share2__popup_x-direction_left {
    right: 0;
    left: 0;
}

.add{
    width: 260px;
    height: 205px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-button{
    width: 120px;
    fill: #77afaf;
    transition: 0.7s;
}
.mobile{
    display: none;
}

@media (hover: hover){
    .button:hover{
        background-color: #004445;
        color: #01696C;
        box-shadow: 0px 0px 30px 5px rgba(247, 233, 222, 1);
    }
    .ya-share2__title:hover{
        color: #01696C;
    }
    .modal-close:hover{
        fill: #004445;
        box-shadow: 0px 0px 30px 5px rgba(247, 233, 222, 1);
    }
    .modal-button:hover{
        background-color: #004445;
        color: #01696C;
        box-shadow: 0px 0px 30px 5px rgba(247, 233, 222, 1);
    }
    .modal-button:hover.modal-link{
        color: #01696C;
    }
    .add-button:hover{
        fill: #004445;
    }
    .plant-card:hover{
        color: #004445;
    }
    .ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__link_more:hover{
        background-color: #004445;
        color: #01696C;
        box-shadow: 0px 0px 30px 5px rgba(247, 233, 222, 1);
    }
}
@media (hover: none){
    .button:active{
        transition: 0s;
        background-color: #004445;
        color: #01696C;
        box-shadow: 0px 0px 30px 5px rgba(247, 233, 222, 1);
    }
    .ya-share2__title:active{
        color: #01696C;
        transition: 0s;
    }
    .modal-close:active{
        transition: 0s;
        fill: #004445;
        box-shadow: 0px 0px 30px 5px rgba(247, 233, 222, 1);
    }
    .modal-button:active{
        transition: 0s;
        background-color: #004445;
        color: #01696C;
        box-shadow: 0px 0px 30px 5px rgba(247, 233, 222, 1);
    }
    .modal-button:active.modal-link{
        transition: 0s;
        color: #01696C;
    }
    .add-button:active{
        transition: 0s;
        fill: #004445;
    }
    .plant-card:active{
        transition: 0s;
        color: #004445;
    }
    .ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__link_more:active{
        background-color: #004445;
        color: #01696C;
        transition: 0s;
        box-shadow: 0px 0px 30px 5px rgba(247, 233, 222, 1);
    }
}
@media screen and (max-width: 1200px) {
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
    .main{
        min-height: 600px;
    }
    .wrapper{
        min-height: 600px;
    }
    .sub-header{
        height:125px;
    }
    .left-subheader-image{
        height: 135px;
    }
    .right-subheader-image{
        height: 154px;
    }
    .search-wrapper {
        width: 846px;
        padding: 50px 30px 0 30px;
    }
    .plants-wrapper{
        width: calc(100% - 60px);
        padding: 50px 30px 0 30px;
    }
}
@media screen and (max-width: 922px){
    .search-wrapper {
        width: 680px;
        padding: 40px 0 0 0;
    }
    .search{
        font-size: 15px;
        width: 155px;
    }
    .button {
        font-size: 15px;
        padding: 2px 20px 5px 20px;
    }
    .plants-wrapper{
        padding: 30px 0 0 0;
        row-gap: 20px;
        column-gap: 10px;
        width: 680px;
    }
    .cart-image{
        width: 105px;
        height: 85px;
        border-radius: 15px;
    }
    .plant-card{
        width: 105px;
        height: 115px;
        gap: 0;
        font-size: 11px;
    }
    .add{
        width: 105px;
        height: 85px;
    }
    .add-button{
        width: 50px;
        height: 50px;
    }
    .modal{
        top: calc((100% - 550px) / 2);
        left: calc((100% - 335px) / 2);
    }
    .modal-content-wrapper{
        height: 550px;
        width: 300px;
        padding: 20px;
        gap: 10px;
    }
    .modal-body{
        flex-direction: column;
    }
    .modal-title{
        font-size: 25px;
        width: 300px;
        line-height: normal;
    }
    .modal-close{
        width: 20px;
        height: 20px;
    }
    .modal-header{
        align-items: center;
    }
    .modal-image {
        width: 300px;
        height: 170px;
    }
    .modal-notes{
        width: 276px;
    }
    .modal-button{
        font-size: 15px;
        padding: 2px 20px 5px 20px;
    }
}
@media screen and (max-width: 768px){
    .search-wrapper {
        width: 335px;
    }
    .plants-wrapper{
        width: 335px;
        column-gap: 5px;
    }
}
