.main{
    background-color: #77AFAF;
}

.wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 1050px;
}

.sub-header{
    background: linear-gradient(#01696C 0%,#01696C 66%, #004445 100%);
    height: 200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-subheader-image{
    position: absolute;
    top: 0;
    left: 0;
}
.right-subheader-image{
    position: absolute;
    top: 0;
    right: 0;
}

.form-wrapper{
    display: flex;
    justify-content: center;
}

.form{
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    padding-bottom: 100px;
}

.form-item{
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    font-size: 25px;
    align-items: center;
    gap: 10px;
}

.form-input{
    width: 550px;
    height: 60px;
    font-size: 20px;
    color: #A7A9AC;
    border-radius: 40px;
    transition: 0.7s;
    border: none;
    text-align: center;
}
.form-input:focus{
    outline: none;
    box-shadow: 0px 0px 30px 5px rgba(247, 233, 222, 1);
}

.img-prev{
    width: 550px;
    height: 310px;
    object-fit: cover;
    margin-bottom: 15px;
}

.input-image{
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    width: 0.1px;
}

.button{
    background-color: #01696C;
    border: none;
    color: #FFFFFF;
    font-size: 25px;
    padding: 6px 30px 10px 30px;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    transition: 0.7s;
    font-family: "Malgun Gothic", serif;
    font-weight: normal;
    text-wrap: nowrap;
}

.form-input-number{
    vertical-align: middle;
    text-align: center;
    width: 90px;
    height: 25px;
    border: none;
    border-radius: 6px;
    color: #A7A9AC;
    font-size: 20px;
}
.form-input-number:focus{
    outline: none;
}

.label-relative{
    position: relative;
    user-select: none;
}

.inc-dec-water{
    top: 0;
    right: 38px;
    position: absolute;
    z-index: 2;
    width: 90px;
    display: flex;
    justify-content: space-between;
}

.increment-button{
    display: inline-block;
    text-align: center;
    width: 25px;
    font-size: 25px;
    color: #A7A9AC;
    cursor: pointer;
    user-select: none;
    transition: 0.7s;
}


.inc-dec-light{
    top: 0;
    right: 48px;
    position: absolute;
    z-index: 2;
    width: 90px;
    display: flex;
    justify-content: space-between;
}

.form-input-select {
    vertical-align: middle;
    outline:0;
    box-shadow:none;
    border:0!important;
    color:#A7A9AC;
    cursor:pointer;
    font-size: 20px;
    width: 150px;
    height: 25px;
    border-radius: 6px;
    text-align: center;
    transition: 0.7s;
    font-family: Arial, serif;
}

.notes{
    width: 510px;
    height: 65px;
    padding: 15px 20px;
    border-radius: 20px;
    font-size: 16px;
    border: none;
    color: #A7A9AC;
    font-family: "Malgun Gothic", serif;
    transition: 0.7s;
}

.notes:focus{
    outline: none;
    box-shadow: 0px 0px 30px 5px rgba(247, 233, 222, 1);
}

.error{
    background: transparent;
    color: #FFFFFF;
}

.messages{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;
    z-index: 2;
}
.mobile{
    display: none;
}
@media (hover: hover){
    .button:hover{
        background-color: #004445;
        color: #01696C;
        box-shadow: 0px 0px 30px 5px rgba(247, 233, 222, 1);
    }
    .increment-button:hover{
        color: #01696C;
    }
    .form-input-select:hover{
        color: #004445;
    }
}
@media (hover: none){
    .button:active{
        transition: 0s;
        background-color: #004445;
        color: #01696C;
        box-shadow: 0px 0px 30px 5px rgba(247, 233, 222, 1);
    }
    .increment-button:active{
        color: #01696C;
        transition: 0s;
    }
    .form-input-select:active{
        color: #004445;
        transition: 0s;
    }
}
@media screen and (max-width: 1200px) {
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
    .main{
        min-height: 600px;
    }
    .wrapper{
        min-height: 600px;
    }
    .sub-header{
        height:125px;
    }
    .left-subheader-image{
        height: 135px;
    }
    .right-subheader-image{
        height: 154px;
    }
    .messages{
        font-size: 15px;
        width: 335px;
        text-align: center;
        gap: 0;
    }
    .error{
        font-size: 15px;
        width: 335px;
        text-align: center;
    }
}
@media screen and (max-width: 768px) {
    .form{
        gap: 15px;
    }
    .form-item{
        font-size: 16px;
        gap: 5px;
    }
    .form-input{
        width: 335px;
        height: 35px;
        font-size: 16px;
    }
    .img-prev {
        width: 335px;
        height: 190px;
        margin-bottom: 5px;
    }
    .button {
        font-size: 15px;
        padding: 2px 20px 5px 20px;
    }
    .form-input-number{
        font-size: 16px;
        width: 70px;
    }
    .form-input-select{
        font-size: 16px;
        width: 120px;
    }
    .notes{
        width: 300px;
        padding: 5px 10px;
        height: 90px;
    }
    .messages{
        background-color: rgba(0,68,69,0.6);
        z-index: 2;
        border-radius: 20px;
    }
}
